.navBarGrande{
    position: sticky;
    top: 0;
    z-index: 10;
    padding: .5rem;
    width: 100%;
    border-bottom: .1rem solid $blanco;
    background-color: transparent;
    backdrop-filter: blur(15px);
    ul{
        display: flex;
        margin: 0;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        .botonNav{
            width: 10rem;
            overflow: hidden;
            border-radius: 10px;
            border: .1rem solid $blanco;
            text-align: center;
            text-shadow: 1px 1px 2px $gris, 0 0 1em $blanco, 0 0 0.2em $blanco;
            transition: 200ms;
            &:hover{
                background-color: rgba(187, 187, 187, .3);
            }
        }
    }
}

// .navBarChica{
//     width: 100vw;
//     position: absolute;
//     right: 0;


//     .offcanvas-header{
//         position: relative;
//         right: 0;
//         width: 100%;
//         background-color: $gris;
//     }
//     .offcanvas-body{
//         position: relative;
//         right: 0;
//         padding-bottom: 100vh;
//         width: 100%;
//         overflow: hidden;
//         .resaltarHover{
//             transition: 200ms;
//             &:hover{
//                 text-shadow: 1px 1px 2px $gris, 0 0 1em $blanco, 0 0 0.2em $blanco;
//             }
//         }
//     }
// }


// .barraChica{
//     width: 100%;
//     // height: 10vh;

//     display: flex;
//     justify-content: end;
//     align-items: center;
//     position: sticky;
//     top: 0;
//     z-index: 10;
//     padding: .5rem;
//     border-bottom: .1rem solid $blanco;
//     background-color: transparent;
//     backdrop-filter: blur(15px);
//     .botonToggle{
//         margin-right: 5%;

//         height: 90%;
//         aspect-ratio: 1/1;

//         padding: .7rem;
//         background-color: transparent;
//         border-radius: 10px;
//         border: .2rem solid $blanco;
//         .palito{
//             width:1rem;
//             height: 1px;
//             border-bottom: 2px solid white;
//             transition: 500ms;
//             &SuperiorStandar{
//                 box-shadow: 0 .55rem 1px gray;
//             }
//             &InferiorStandar{
//                 position: relative;
//                 top:1rem;
//             }
//             &SuperiorDesplegado{
//                 box-shadow: 0 0 1px gray;
//                 rotate: (45deg);
//                 translate: 0 .5rem ;
//             }
//             &InferiorDesplegado{
//                 rotate: (135deg);
//                 translate: 0 .4rem ;
//             }
//         }
//     }
// }
// .menuNav{
//     background-color: $gris;
//     width: 80%;

// }

.navBarChica{
    border-bottom: .1rem solid $blanco;
    visibility: hidden;
    background-color: $gris;
    .resaltarHover{
        transition: 200ms;
        &:hover{
            text-shadow: 1px 1px 2px $gris, 0 0 1em $blanco, 0 0 0.2em $blanco;
        }
    }
}