
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@media only screen   and (max-width: $xl){
    html{
        font-size: 20px;
    }
    .trabajos{
        margin-bottom: 7rem;
    }

}

@media only screen and (max-width: $lg){
    html{

        scroll-padding-top: 2.7rem;
    }
    .navBarGrande{
        position: absolute;
        top:-10px;
        visibility: hidden;
        width: 1px;
        height: 1px;
        ul li{
            width: 1px;
            a .botonNav{
                width: 1px;
            }
        }
    }
    .navBarChica{
        visibility: visible;
    }
    .trabajos{
        margin-bottom: 10rem;
    }
}

@media only screen and (max-width: $md){
    html{
        scroll-padding-top: 2rem;
    }
    header{
        align-items: flex-end;
        .textoEncabezado{
            height: 30vh;
        }
        .imagen{
            width: 100vw;
            height: 100vh;
            position: absolute;
            left: 0;
            .encuadro{
                right: auto;
                left: 0;
            }
        }
        .fotoGus{
            width: 100vw;
        }
        .flecha{
            top: 50vh;
            right: 25%;
            animation-duration: 500ms;
            z-index: auto;
        }
    }
    
    .trabajos{
        margin-bottom: 20rem;
    }
}


@media only screen   and (max-width: $sm){
    .grillaIconos{
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        min-width: 15rem;
        justify-content: flex-start;
        .espacioGrilla{
            grid-row-start: 7;
            grid-row-end: 8;
        }
    }
    header{
        overflow-x: hidden;
        .fotoGus{
            position: absolute;
            margin: 1rem;
        }
        .textoEncabezado{
            height: 50vh;
            span{
                font-size: 1.5rem;
            }
        }
        .flecha{
            top: 20vh;
            right: 30%;
        }
    } 
    .contactos{
        p{
            font-size: .8rem
        };
    }
}