.fotoProyecto{
    width: 80%;
    aspect-ratio: 2/1;
    margin-left: 10%;
    border-radius: 10px;
    object-fit:cover;
    transition: 400ms;
    filter:grayscale(.8);
    &:hover{
        scale: 1.1;
        box-shadow: .4rem 0 .6rem $blanco,
                    0 .4rem .6rem $blanco,
                    -.4rem  0 .6rem $blanco,
                    0 -.4rem .6rem $blanco
                    ;
    filter:grayscale(0);
    }
}